@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  font-family: "Archivo";
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding: 1rem 3rem;
  border: solid black 1px;
  border-radius: 1rem;
  margin: 1rem;
  font-weight: lighter;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
