@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(5, 32, 96);
  font-family: Archivo;
  color: rgb(250, 235, 215);
}

button {
  text-transform: uppercase;
  font-family: Archivo;
  background: transparent;
  border: none;
  cursor: pointer;
  color: rgb(250, 235, 215);
  text-decoration: underline;
}

button:hover {
  color: rgb(184, 172, 158);
}

button:active {
  color: rgb(104, 97, 89);
}

#view > div {
  padding: 1rem;
  gap: 1rem;
  border: 1px solid rgb(250, 235, 215);
  margin: 1rem;
  height: 400px;
  width: 400px;
}

#view {
  flex-wrap: wrap;
}
