@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #052060;
  font-family: Archivo;
}

div {
  height: 400px;
  width: 500px;
  border: 1px solid #faebd7;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}